@media only screen and (max-height: 800px) {
    .app {
        min-height: 100%;
    }
    .creditosContainer .creditos {
        position: static ;
        margin-top: 10px;
    }

    .containerPerguntas h2 {
        margin-top: 10%;
    }

    .bandeira {
        top: 90px;
    }

    .botaoNextContainer {
        display: block;
        text-align: end;
    }

    .opcao {
        margin-top: 3%;
    }

    .tentarNovamente {
        margin-bottom: 20px;
    }
}

@media only screen and (max-height: 682px) {
    .vetor {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 25px;
    }
}

@media only screen and (max-width: 466px) {

    .containerOpcoes ol {
        width: 95%;
    }

    .app {
        width: 100vw;
    }

    .vetor {
        display: none;
    }

    .bandeira {
        right: 30%;
        top: 35px;
        margin-bottom: 5px;
    }

    .vetorTrofeu {
        margin-bottom: 50px;
    }

    .resultados h3 {
        font-size: 30px;
        text-align: center;
    }

    .containerResultado p {
        margin-bottom: 20px;
    }

    .containerResultado p .pontuacao {
        font-size: 25px;
    }

    .containerPerguntas h2 {
        font-size: 19px;
    }

    .tentarNovamente {
        width: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}

@media only screen and (max-width: 375px) and (max-height: 569px){


    .containerOpcoes ol {
        width: 95%;
    }

    .botaoNextContainer .botaoNext {
        margin-bottom: 10px;
        margin-top: 10px;
        height: 45px;
    }

}